<html>
<head>
    <meta name="salesforce-community" content="https://lucgilr-developer-edition.eu6.force.com/customers">
	<meta name="salesforce-mode" content="modal-callback">
	<meta name="salesforce-save-access-token" content="true">
	<meta name="salesforce-target" content= "#salesforce-login">
	<meta name="salesforce-allowed-domains" content="sfdc-login-token.herokuapp.com/">
	<script src="https://lucgilr-developer-edition.eu6.force.com/customers/servlet/servlet.loginwidgetcontroller?type=javascript_widget&min=false&cacheMaxAge=0" async defer></script>
	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105833968-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments)};
	  gtag('js', new Date());
	</script>

</head> 
<body></body>    
</html>
